{% extends 'plantilla.html' %}
{% block titulo %} Medicina integral {% endblock %}
{% block content %}
<div class="container" id="div_MI">
    <main id="MI">
            
    </main>
</div>
<div class="container row justify-content-center">
    <button type="button" id="btn_new_pacient_back" class="btn btn-secondary col-lg-2">Volver</button>&nbsp;
    <button type="submit" id="btn_atender_paciente_MI" class="btn btn-success col-lg-2">Atender paciente</button>
    <center><span class="opacity-50">SIEMPRE SE ATIENDE AL PACIENTE DE MAYOR PRIORIDAD PRIMERO</span></center>
</div>
{% endblock %}