{% extends 'plantilla.html' %}
{% block titulo %} Urgencias {% endblock %}
{% block content %}
<div class="container" id="div_urgencias">
    <main id="view_urgencias">

    </main>
</div>
<div class="container row justify-content-center">
    <button type="button" id="btn_new_pacient_back" class="btn btn-secondary col-lg-2">Volver</button>&nbsp;
    <button type="submit" id="btn_atender_paciente_urgencias" class="btn btn-success col-lg-2">Atender paciente</button><br>
    <center><span class="opacity-50">SIEMPRE SE ATIENDE AL PACIENTE DE MAYOR PRIORIDAD PRIMERO</span></center>
</div>
{% endblock %}